<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/recoveryPage/recovery.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Recuperación</title>
</head>
<body>
    <button id="back" class="back"><ion-icon class="arrow-back" size="large" name="arrow-back-outline"></ion-icon></button>
    <img src="https://firebasestorage.googleapis.com/v0/b/antpire-original.appspot.com/o/yo.jpeg?alt=media&token=253d0266-3b5a-464b-a73a-f5762cc0412a">
    <h1>¿Se te perdió algo?</h1>
    <form class="box" id="form">
        <input id="email" placeholder="Email" type="email" name="email"><ion-icon class="input-icon" name="mail-outline" size="large"></ion-icon>
        <button id="recovery" class="btn">Recuperar contraseña</button>
    </form>
    <script src="/controller/recoveryPage/recovery.js"></script>
</body>
</html>