<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/registerSpend/registerSpend.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Gastos</title>
</head>
<body>
    <div>
        <header>
            <h1>Gastos</h1>
        </header>
        <section>
            <img src="https://firebasestorage.googleapis.com/v0/b/antpire-original.appspot.com/o/herecomes.jpeg?alt=media&token=a73657d0-09cf-4c08-b2f2-5f0bd70d8315">
            <form id="form">
                <input id="nameSpend" placeholder="Nombre del producto" name="nameSpend" type="text">
                <ion-icon class="input-icon" name="fast-food-sharp" size="large"></ion-icon>
                <input id="priceSpend" placeholder="Gasto" name="priceSpend" type="number">
                <ion-icon class="input-icon" name="wallet-sharp" size="large"></ion-icon>
                <select id="priority" name="priority">
                    <option value="0">Prioridad</option>
                    <option value="Baja">Baja</option>
                    <option value="Alta">Alta</option>
                </select>
                <ion-icon class="input-icon" name="arrow-down-sharp" size="large"></ion-icon>
                <button class="registerSpend" id="registerSpend">Registrar</button>
            </form>

        </section>
        <footer>
            <button><ion-icon class="select" name="cash-sharp" size="large" id="spends"></ion-icon></button>
            <button><ion-icon name="bar-chart-sharp" size="large" id="balance"></ion-icon></button>
            <button><ion-icon name="home-sharp" size="large" id="home"></ion-icon></button>
            <button><ion-icon name="notifications-sharp" size="large" id="notification"></ion-icon></button>
            <button><ion-icon name="person-circle-sharp" size="large" id="user"></ion-icon></button>
        </footer>
    </div>
    <script src="/controller/registerSpend/registerSpend.js"></script>
</body>
</html>