<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/homePage/home.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Inicio</title>
</head>
<body>
    <div>
        <header>
            <h1>Inicio</h1>
        </header>
        <section>
    
        </section>
        <footer>
            <button><ion-icon name="cash-sharp" size="large" id="spends"></ion-icon></button>
            <button><ion-icon name="bar-chart-sharp" size="large" id="balance"></ion-icon></button>
            <button><ion-icon class="select" name="home-sharp" size="large" id="home"></ion-icon></button>
            <button><ion-icon name="notifications-sharp" size="large" id="notification"></ion-icon></button>
            <button><ion-icon name="person-circle-sharp" size="large" id="user"></ion-icon></button>
        </footer>
    </div>
    <script src="/controller/homePage/home.js"></script>
</body>
</html>