header{
    height: 40px;
    margin: auto;
    background-color: #e55039;
    text-align: center;
    width: 100%;
}

h1{
    color: white;
    font-family: serif;
}

footer{
    height: 50px;
    margin: auto;
    background-color: #e55039;
    text-align: center;
    width: 100%;
    margin-top: 180%;
}

button{
    background-color: #e55039;
    border-color: #e55039;
    border-width: 0;
    margin-top: 2%;
    margin-left: 3%;
    cursor: pointer;

}

ion-icon{
    color: white;
}

.select{
    color:black
}
